[Desktop Entry]
Encoding=UTF-8
Name=Link to SRA-SiliconValley/jalangi · GitHub
Type=Link
URL=https://github.com/SRA-SiliconValley/jalangi
Icon=text-html
