[Desktop Entry]
Encoding=UTF-8
Name=Link to jalangi - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=XE3h49X866U
Icon=text-html
Name[en_US]=Youtube Demonstration
