[Desktop Entry]
Type=Application
Name=Terminal
Exec=gnome-terminal --working-directory=/home/vagrant/Desktop/FSE-2013-Jalangi
X-GNOME-Autostart-enabled=true
