[Desktop Entry]
Type=Application
Name=Terminal
Exec=gnome-terminal -e "bash -c 'cd /home/vagrant/Desktop/FSE-2013-Jalangi'"
X-GNOME-Autostart-enabled=true
